*{
    margin: 0;
    padding: 0;
}
body{
    
    font-family: Arial, Helvetica, sans-serif;
    background: url(https://static.toiimg.com/thumb/msid-75755812,imgsize-921825,width-800,height-600,resizemode-75/75755812.jpg) no-repeat center center fixed ;
    background-size: cover;

}
header{
    width:80%;
    margin:auto;
    overflow: hidden;
}

head{
    float: left;
    color: teal;
    font-family: Arial, Helvetica, sans-serif;
    
}
.head,h2{
    color:orangered;
    text-align: center;
}

.wrapper{
    width: 860px;
    margin: 0 auto;
}

.wrapper ul{
    list-style: none;
    margin-top: 2%;

}

.wrapper ul li {
    background: #262626;
    width: 170px;
    border: 1px solid #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 14px;
    position:relative;
    font-family: Arial, Helvetica, sans-serif;

}

.wrapper ul li:hover{
    background: crimson;

}
.wrapper ul ul{
    display:none;
}

.wrapper ul li:hover> ul{
    display:block
}

.wrapper a{
    color: #fff;
}

.container{
    width: 80%;
    padding:10px;
    background: #ddd;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    position: relative;
    top: 80px;
    opacity: 0.9;
    height: auto;
    
    
    

}

.box{
    width: 250px;
    height: 270px;
    background: orange;
    margin: 0px 10px;
    transition: 0.5s ease;
    top: 60px;
    transform-style: preserve-3d;
    opacity: 1.0;
    
}

.box:hover{
    transform: rotateY(180deg);
    background: crimson;
    box-shadow: 2px 2px 2px #000;
    z-index: 2;


}


.thefront{
    position: absolute;
    width: 230px;
    height: 250px;
    margin: 10px 10px 10px;
    justify-content: center;
    backface-visibility: hidden;
    background: papayawhip;
    color: crimson;
    box-shadow: 2px 2px 2px black;
    z-index: 2;
    opacity: 1.0;
}

.theback{
    position: absolute;
    width: 230px;
    height: 250px;
    margin: 10px 10px 10px;
    justify-content: center;
    backface-visibility: hidden;
    background: papayawhip;
    color:black solid;
    box-shadow: 2px 2px 2px black;
    z-index: 2;
    opacity: 1.0;
    transform: rotateY(180deg);
}


.pfront{
    text-align: center;
    position: relative;
    top: 40%;
}

.pback{
    text-align: center;
}


li{
    text-align: center;

}
.img{
    width: 50%;
    
    border-radius: 30%;
    position: relative;
}
.imgp{
    width: 30%;
    border-radius: 30%;
}