
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url(https://img.freepik.com/free-vector/world-fight-corona-virus-icon-illustration-corona-mascot-cartoon-character-world-icon-concept-isolated_138676-942.jpg?size=338&ext=jpg) no-repeat center center fixed ;
    background-size: cover;

}
header{
    width:80%;
    margin:auto;
    overflow: hidden;
}

head{
    float: left;
    color: teal;
    font-family: Arial, Helvetica, sans-serif;
    
}
.head,h2{
    color:orangered;
    text-align: center;
}

nav{
    text-align: center;
    display: block;
    position: relative;
    top: 5px;
    left: 2%;


}

li{
    
    padding: 1rem;
    display: inline-table;
}

li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.ac{
    color: saddlebrown;

}

.slide{
    width: 50%;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%,-50%);
    background-image: url(https://images.financialexpress.com/2020/04/lockdown-in-UP.jpg);
    border-radius: 20%;
    box-shadow: 1px 2px 10px 5px black;
    animation: slider 20s infinite linear;
    
}

@keyframes slider{
    10%{
        background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/255px-Flag_of_India.svg.png);
    }
    
    2%{
        background-image: url(https://images.financialexpress.com/2020/04/lockdown-in-UP.jpg);
        
    }
    45%{
        background-image: url(https://economictimes.indiatimes.com/thumb/msid-75099914,width-1200,height-900,resizemode-4,imgsize-190908/doctors.jpg?from=mdr);
        width: 50%;
        height: 250px;
        transform: translate(-50%,-50%);
    }

    65%{
        background-image: url(https://images.newindianexpress.com/uploads/user/imagelibrary/2020/4/28/w900X450/20200428123L.jpg);
    }

    95%{
        background-image: url(https://mc.webpcache.epapr.in/discover.php?in=https://mcmscache.epapr.in/post_images/website_350/post_15875164/thumb.png);
    }

    




}

.head1{
    float: left;
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    
}
.category{
    color: white;
    margin-top: 1%;
    display: flex;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: lavender;
    box-shadow: 0 16px 26px rgba(0,0,0,.5);
    padding: 2rem;
   /* background-image: url("https://www.hindustantimes.com/rf/image_size_444x250/HT/p2/2020/04/17/Pictures/outbreak-ahmedabad-coronavirus-disease-covid-19-in_62d8d1e8-80b1-11ea-a716-f322ae116ff6.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
    
    z-index: 1;
    display: none;

}

.popup .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: wheat;
    width: 450px;
    height: 500px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    


}

.popup .close-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height:30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay{
    display: block;

}

.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
} 


.b1{
    position: absolute;
    top: 70%;
    width: 20%;
    padding: 0.7rem;
    background-color: sienna;
    border: none;
    border-radius: 25px;
    color: black;
    font-size:large;

}
.b2{
    position: absolute;
    top: 80%;
    width: 20%;
    padding: 0.7rem;
    background-color: sienna;
    border: none;
    border-radius: 25px;
    color: black;
    font-size:large;

}
.b3{
    position: absolute;
    top: 70%;
    left: 75%;
    width: 20%;
    padding: 0.7rem;
    background-color: sienna;
    border: none;
    border-radius: 25px;
    color: black;
    font-size:large;

}
.b4{
    position: absolute;
    top: 80%;
    left: 75%;
    width: 20%;
    padding: 0.7rem;
    background-color: sienna;
    border: none;
    border-radius: 25px;
    color:black;
    font-size:large;

}

.b5{
    position: absolute;
    top: 90%;
    width: 20%;
    padding: 0.7rem;
    background-color: sienna;
    border: none;
    border-radius: 25px;
    color: black;
    font-size:large;
}

.b6{
    position: absolute;
    top: 90%;
    left: 75%;
    width: 20%;
    padding: 0.7rem;
    background-color: sienna;
    border: none;
    border-radius: 25px;
    color:black;
    font-size:large;

}

.b7{
    position: absolute;
    top: 100%;
    width: 20%;
    padding: 0.7rem;
    background-color: sienna;
    border: none;
    border-radius: 25px;
    color: black;
    font-size:large;
}

.b8{
    position: absolute;
    top: 100%;
    left: 75%;
    width: 20%;
    padding: 0.7rem;
    background-color: sienna;
    border: none;
    border-radius: 25px;
    color:black;
    font-size:large;

}



.popup .content img{
    
    height: auto;
    position: left;
    width: 40%;
    border-radius: 30%
}