body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
    background-size: cover;

}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    padding: 2rem;
    background-color: rgba(0,0,0, .8);
    box-sizing: border-box;
    box-shadow: 0 16px 26px rgba(0,0,0,.5);
    border-radius: 12px;
    text-align: center;
}

.container h2{
    color: rgb(228, 112, 4);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: 50;
}

input{
    width: 70%;
    padding: 0.8rem;
    border-radius: 20px;
    border: none;
}

button{
    width: 20%;
    padding: 0.7rem;
    background-color: sienna;
    border: none;
    border-radius: 6px;
    color: silver;
    font-size:large;
}



